$green: #6bb927;
$white: #fff;
$light-gray: #e4e2e2c4;
$middle-gray: #bdbaba;
$dark-green: rgba(104, 196, 118, 0.9);
$veryLight-gray: #f0f0f1;
$light-blue: #00bfd6;
$gray: rgb(100, 98, 98);
$red: #ef394e;
$trasnparent-gray: rgba(97, 97, 97, 0.37);
$dark-gray: rgb(116, 116, 116);
