.header {
  width: 100%;
  @include flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 5rem;
  background-color: $white;
  padding: 2rem;
  position: sticky;
  z-index: 50;
  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  &__content {
    width: 50%;
    flex-grow: 1;
    margin: 1rem;
    &__logo {
      cursor: pointer;
    }
  }
  &__buttons {
    margin: 1rem;
    position: relative;
    &__entity {
      color: $white;
      font-size: 0.8em;
      position: absolute;
      transform: translate(7px, 16px);
      width: 18px;
      height: 18px;
      background-color: red;
      border-radius: 4px;
      text-align: center;
    }
    &__cartbutton {
      border: none;
      background-color: transparent;
      cursor: pointer;

      &__icons {
        color: $dark-gray;
        font-size: 1.5rem;
      }
    }
  }
}
